<a href="https://colab.research.google.com/github/Ganapathi-tech/Data-Science-Interview-preparation/blob/main/EgStr.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
num = "90.54.787"

num = num.replace(".","",1)

a = num.isdigit()

if a == True :
    print("Entered Number is Float Type")
else:
    print("Not a Float")

Not a Float

In [ ]:
num1 = input("Enter  first Number : ")
num2 = input("Enter Second Number : ")

a = num1 + num2
print("Num1 Type : ",type(num1))
print("Num2 Type: ",type(num2))
print(a)

Enter  first Number : 43
Enter Second Number : 54
Num1 Type :  <class 'str'>
Num2 Type:  <class 'str'>
4354

In [ ]:
num1 = input("Enter  first Number : ")
num2 = input("Enter Second Number : ")

a = int(num1) 
b = int(num2)

print("Type A", type(a))
print(id(a))
print("Type B :", type(b))
print(id(b))
print("***********************")
print("Type Num1:", type(num1))
print(id(num1))
print("Type Num2:", type(num2))
print(id(num2))

Enter  first Number : 3
Enter Second Number : 2
Type A <class 'int'>
10914560
Type B : <class 'int'>
10914528
***********************
Type Num1: <class 'str'>
139851636687960
Type Num2: <class 'str'>
139851636687288

In [ ]:
# First type of Conversion...

num1 = input("Enter  first Number : ")
num2 = input("Enter Second Number : ")

a = int(num1) + int(num2)
print(a)

Enter  first Number : 4
Enter Second Number : 5
9

In [ ]:
# Second type of Conversion...

num1 = input("Enter  first Number : ")
num2 = input("Enter Second Number : ")
x = int(num1)
y = int(num2)

# a = int(num1) + int(num2)
# b = int(num1) - int(num2)
# c = int(num1) * int(num2)
a = x+y
b = x-y
c = x*y

print(a)
print(b)
print(c)

Enter  first Number : 10
Enter Second Number : b

ValueError: ignored

In [ ]:
# Third type of Conversion...

num1 = int(input("Enter  first Number : "))
num2 = int(input("Enter Second Number : "))


print(num1+num2)
print(num1-num2)
print(num1*num2)

Enter  first Number : 10
Enter Second Number : 2
12
8
20

In [ ]:
import time
num = "72543"
s=0
p =1
for i in num:
  print("i :",i)
  print("s :",s)
  print("p : ",p)
  print("************")
  time.sleep(2)
  s = s + int(i)
  p = p * int(i)

  print(s)
  print(p)

print("***********************")
print(s)
print(p)

i : 7
s : 0
p :  1
************
7
7
i : 2
s : 7
p :  7
************
9
14
i : 5
s : 9
p :  14
************
14
70
i : 4
s : 14
p :  70
************
18
280
i : 3
s : 18
p :  280
************
21
840
21

In [ ]:
s = input("Enter a String : ")

In [ ]:
ord("a")

97

In [ ]:
str1 = "firstname_lastname.98@gmail.com"

In [ ]:
a = str1.split("@")

In [ ]:
a

['firstname_lastname.98', 'gmail.com']

In [ ]:
b = a[0].split(".")

In [ ]:
b

['firstname_lastname', '98']

In [ ]:
y = "19"+b[1]

In [ ]:
y

'1998'

In [ ]:
2021 - int(y)

23

In [ ]:
a = 100
b = 200

In [ ]:
print(a)
print(b)

100
200